[Settings]
gtk-theme-name=__GTK_THEME__
gtk-icon-theme-name=__ICON_THEME__
gtk-font-name=__GTK_FONT__
gtk-cursor-theme-name=__CURSOR_THEME__
gtk-cursor-theme-size=__CURSOR_SIZE__
gtk-toolbar-style=GTK_TOOLBAR_ICONS
gtk-toolbar-icon-size=GTK_ICON_SIZE_LARGE_TOOLBAR
gtk-button-images=0
gtk-menu-images=0
gtk-enable-event-sounds=1
gtk-enable-input-feedback-sounds=1
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintfull
gtk-xft-rgba=rgb
gtk-application-prefer-dark-theme=1
